DATA INGESTION

In [51]:
import boto3

# Initialize S3 client and configuration variables
s3_client = boto3.client('s3')
bucket_name = 'aws-a9097-use1-00-d-s3b-shrd-shr-data01'
IAM_ROLE = 'aws-a9097-use1-00-d-rol-shrd-shr-usr01'

# List all S3 buckets and print the response
check_response = s3_client.list_buckets()
print(check_response)

{'ResponseMetadata': {'RequestId': '9T0G08ZXDQTVYW2D', 'HostId': 'scs/OT8gGEMMlFQL6Jv7YLnud9jDCrI69ucydu66wnIFSezAahZCtQaxQItHXZ5P2jWe3l30nbo=', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': 'scs/OT8gGEMMlFQL6Jv7YLnud9jDCrI69ucydu66wnIFSezAahZCtQaxQItHXZ5P2jWe3l30nbo=', 'x-amz-request-id': '9T0G08ZXDQTVYW2D', 'date': 'Mon, 17 Feb 2025 08:32:48 GMT', 'content-type': 'application/xml', 'transfer-encoding': 'chunked', 'server': 'AmazonS3'}, 'RetryAttempts': 0}, 'Buckets': [{'Name': 'aws-a9097-use1-00-d-s3b-shrd-shr-data01', 'CreationDate': datetime.datetime(2024, 8, 6, 8, 41, 20, tzinfo=tzlocal())}, {'Name': 'cf-templates-1jlshq8udppq6-us-east-1', 'CreationDate': datetime.datetime(2024, 8, 1, 10, 43, 34, tzinfo=tzlocal())}], 'Owner': {'DisplayName': 'aws.a9097', 'ID': '6d9499ce97be2b4c12d262e50a6c0e45aa4f21142385c704f4dffe905958950b'}}

In [10]:
files_list = ['GeoHiery.txt', 'MarketDefinition.txt', 'Prescriber.txt', 'PrescriberAddress.txt', 'ProductMaster.txt', 'Sales.txt', 'Zip_To_Terr.txt']

# Upload each file in files_list to S3 bucket under 'raw/' prefix
for file in files_list:
    s3_client.upload_file(file, bucket_name, f'raw/{file}')

EXTRACTION

In [16]:
import pandas as pd


for file in files_list:
    # Construct S3 file path and read CSV with pipe delimiter
    s3_file = f's3://{bucket_name}/raw/{file}'
    df = pd.read_csv(s3_file, delimiter='|')
    print(df.head())

   GEO_CODE    GEO_NAME GEO_LEVEL PARENT_ID
0  T-111100      Acampo      TERR  D-111000
1  D-111000  District 1      DIST  R-110000
2  R-110000          CA      REGN  N-100000
3  N-100000         USA    NATION         -
4  T-111200       Acton      TERR  D-111000
  MKT_CD          MKT_NM
0  M-001    NEUROSCIENCE
1  M-002        VIROLOGY
2  M-003      IMMUNOLOGY
3  M-004      HEMATOLOGY
4  M-005  CARDIOVASCULAR
  Prescriber_ID FIRST_NAME  LAST_NAME         PREFFERED_NAME  GENDER  EMAIL  \
0      ST_00001   SOONTORN  THRUPKAEW     SOONTORN THRUPKAEW     NaN    NaN
1      RB_00002     ROBERT      BRYAN           ROBERT BRYAN     NaN    NaN
2      JC_00003       JOHN     CARTER  JOHN JEFFERSON CARTER     NaN    NaN
3      TK_00004   THEODORE   KIRKLAND    THEODORE N KIRKLAND     NaN    NaN
4      TC_00005        TOM   CALDWELL           TOM CALDWELL     NaN    NaN

   PERSON_SPECIALTY
0  GastroEnterology
1         NeuroLogy
2       Dermatology
3         NeuroLogy
4        Psychiatry
  PERSON_CODE              ADDRESS_1  ADDRESS_2    CITY STATE  ZIP_CODE
0    ST_00001           1 BAYLOR PLZ        NaN  Acampo    CA         1
1    RB_00002           1 BETHANY RD        NaN  Acampo    CA         2
2    JC_00003  1 BETHANY RD SUITE 11        NaN  Acampo    CA         3
3    TK_00004   1 BETHANY RD SUITE 3        NaN  Acampo    CA         4
4    TC_00005  1 BETHANY RD SUITE 35        NaN  Acampo    CA         5
  MARKET_CD  PRD_PACK_ID    PRODUCT_NAME STRENGTH  BRAND_ID Brand Name  \
0     M-001      1001001  ATRIPXEN 350mg    350mg      1001  ATRIPIXEN
1     M-001      1001002  ATRIPXEN 500mg    500mg      1001  ATRIPIXEN
2     M-001      1002001     BRUFEN 50mg     50mg      1002     BRUFEN
3     M-001      1002002    BRUFEN 100mg    100mg      1002     BRUFEN
4     M-001      1003001  CLOPIGEL 100mg    100mg      1003   CLOPIGEL

     PROD_MNF
0  ABC_Pharma
1  ABC_Pharma
2  DEF_Pharma
3  DEF_Pharma
4  GHI_Pharma
    PSBR_ID  PROD_ID  MONTH_1_NRX_UNIT  MONTH_2_NRX_UNIT  MONTH_3_NRX_UNIT  \
0  ST_00001  1003002                 3                 8                 7
1  RB_00002  1002001                 9                 8                 7
2  JC_00003  1007002                 7                 1                 3
3  TK_00004  1010001                 6                 3                 5
4  TC_00005  1010001                 9                 7                 6

   MONTH_4_NRX_UNIT  MONTH_5_NRX_UNIT  MONTH_6_NRX_UNIT  MONTH_7_NRX_UNIT  \
0                 6                 6                 9                 3
1                 8                 3                 2                 4
2                 1                 9                 9                 8
3                 2                 2                 3                 4
4                 6                 1                 5                 2

   MONTH_8_NRX_UNIT  ...  MONTH_3_TRX_DOLLAR  MONTH_4_TRX_DOLLAR  \
0                 3  ...                 880                4200
1                 3  ...                1440                 640
2                 2  ...                2046                 726
3                 7  ...                2856                1260
4                 2  ...                2352                1638

   MONTH_5_TRX_DOLLAR  MONTH_6_TRX_DOLLAR  MONTH_7_TRX_DOLLAR  \
0                 480                2600                2240
1                1920                1000                1080
2                1188                3729                2244
3                1218                1008                3150
4                1134                2352                 462

   MONTH_8_TRX_DOLLAR  MONTH_9_TRX_DOLLAR  MONTH_10_TRX_DOLLAR  \
0                2920                 560                 2680
1                2960                3960                 3320
2                2475                 693                 1089
3                4998                2352                 1638
4                1764                1218                 2730

   MONTH_11_TRX_DOLLAR  MONTH_12_TRX_DOLLAR
0                  800                  400
1                  880                 1960
2                 2310                 3069
3                 2310                 1680
4                 1638                 1932

[5 rows x 110 columns]
   ZIP_Code Territory_ID
0         1     T-111100
1         2     T-111100
2         3     T-111100
3         4     T-111100
4         5     T-111100

In [22]:
import psycopg2

# Redshift connection credentials
REDSHIFT_HOST = 'aws-a9097-use1-00-d-red-shrd-shr-red01.ca3wdeu8uqbl.us-east-1.redshift.amazonaws.com'
REDSHIFT_DB = 'dev'
REDSHIFT_USER = 'group1user'
REDSHIFT_PORT = '5439'
REDSHIFT_PASSWORD = 'Group1pass'

"""
Establishes a connection to Redshift using the provided credentials.
Returns a connection object that can be used to execute queries.
"""
conn = psycopg2.connect(dbname=REDSHIFT_DB,
                       user=REDSHIFT_USER,
                       password=REDSHIFT_PASSWORD,
                       host=REDSHIFT_HOST,
                       port=REDSHIFT_PORT)

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Test connection by executing a simple query
cursor.execute("SELECT current_date")
print('REDSHIFT CREDS LOADED SUCESSFULLY')

REDSHIFT CREDS LOADED

In [31]:
# Creating respective dataframes to work with for EXTRACT


def extractFromS3(file_name):
    """Extract a CSV file from S3 bucket and return it as a pandas DataFrame.
    
    Args:
        file_name (str): Name of the file to extract from S3 bucket
        
    Returns:
        pd.DataFrame: DataFrame containing the data from the CSV file
    """
    print(file_name)
    obj = s3_client.get_object(Bucket=bucket_name, Key=f'raw/{file}')
    return pd.read_csv(io.bytesIO(obj['Body'].read()))

for file in files_list:
    df[file] = extractFromS3(file)

print(df)

GeoHiery.txt

NameError: name 'io' is not defined

In [60]:
sql1 = f'''CREATE TABLE IF NOT EXISTS bs_grp1_person_profile(
    Prescriber_ID VARCHAR(50),
    FIRST_NAME VARCHAR(100),
    LAST_NAME VARCHAR(100),
    PREFFERED_NAME VARCHAR(100),
    GENDER VARCHAR(10),
    EMAIL VARCHAR(100),
    PERSON_SPECIALTY VARCHAR(100)
);'''

# Execute SQL statement to create person profile table if it doesn't exist
cursor.execute(sql1)

# Commit the transaction to make changes persistent
conn.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [63]:
sql1 = '''CREATE TABLE IF NOT EXISTS bs_grp1_person_profile(
    Prescriber_ID VARCHAR(50),
    FIRST_NAME VARCHAR(100),
    LAST_NAME VARCHAR(100),
    PREFFERED_NAME VARCHAR(100),
    GENDER VARCHAR(10),
    EMAIL VARCHAR(100),
    PERSON_SPECIALTY VARCHAR(100)
);'''

# Rollback any previous failed transaction to ensure clean state
conn.rollback()

# Execute the CREATE TABLE statement for person profile data
cursor.execute(sql1)
conn.commit()

In [73]:
sql2 = '''
COPY bs_grp1_person_profile
FROM 's3://aws-a9097-use1-00-d-s3b-shrd-shr-data01/raw/Prescriber.txt'
DELIMITER '|'
IGNOREHEADER 1
REMOVEQUOTES
EMPTYASNULL
IAM_ROLE 'arn:aws:iam::014498666895:role/service-role/AmazonRedshift-CommandsAccessRole-20240806T150642'
;
'''

# Rollback any previous failed transaction to ensure clean state
conn.rollback()

# Execute the COPY command to load data from S3 into Redshift table
cursor.execute(sql2)
conn.commit()

In [109]:
sql_create = '''CREATE TABLE IF NOT EXISTS bs_grp1_prod_master(
    MARKET_CD VARCHAR(10),
    PRD_PACK_ID VARCHAR(50),
    PRODUCT_NAME VARCHAR(200),
    IMS_STRENG VARCHAR(50),
    TH_LEVEL VARCHAR(50),
    BRAND_ID VARCHAR(50),
    BRAND_NAME VARCHAR(100),
    PROD_MNF VARCHAR(100)
);'''

# Rollback any previous failed transaction to ensure clean state before execution
conn.rollback()

# Execute the CREATE TABLE statement
cursor.execute(sql_create)
conn.commit()
print("Successfully created prod_master")

sql_copy = '''
COPY bs_grp1_prod_master
FROM 's3://aws-a9097-use1-00-d-s3b-shrd-shr-data01/raw/Prescriber.txt'
DELIMITER '|'
IGNOREHEADER 1
REMOVEQUOTES
EMPTYASNULL
IAM_ROLE 'arn:aws:iam::014498666895:role/service-role/AmazonRedshift-CommandsAccessRole-20240806T150642'
;
'''

# Rollback any previous failed transaction to ensure clean state before data load
conn.rollback()

# Execute the COPY command to load data from S3 into Redshift table
cursor.execute(sql_copy)
conn.commit()
print("Data loaded in table")

Successfully created prod_master

InternalError_: Load into table 'bs_grp1_prod_master' failed.  Check 'stl_load_errors' system table for details.

In [107]:
#create_person_address
sql_create = """
CREATE TABLE IF NOT EXISTS bs_grp1_person_address (
    PERSON_CODE VARCHAR(50),
    ADDRESS_1 VARCHAR(200),
    ADDRESS_2 VARCHAR(200),
    CITY VARCHAR(100),
    STATE VARCHAR(50),
    ZIP_CODE VARCHAR(10)
);
"""
conn.rollback()  # Ensure clean state before table creation
cursor.execute(sql_create)
conn.commit()
print("Created table bs_grp1_person_address successfully!")

# COPY FROM S3
sql_copy = """
COPY bs_grp1_person_address
FROM 's3://aws-a9097-use1-00-d-s3b-shrd-shr-data01/raw/PrescriberAddress.txt'
DELIMITER '|'
IGNOREHEADER 1  # Skip header row
EMPTYASNULL    # Treat empty fields as NULL
BLANKSASNULL   # Treat blank fields as NULL
IAM_ROLE 'arn:aws:iam::014498666895:role/service-role/AmazonRedshift-CommandsAccessRole-20240806T150642';
"""
conn.rollback()  # Ensure clean state before data load
cursor.execute(sql_copy)
conn.commit()
print("Data loaded into bs_grp1_person_address from S3!")

Created table bs_grp1_person_address successfully!
Data loaded into bs_grp1_person_address from S3!

In [102]:
# CREATE TABLE_geo_hierachy
sql_create = """
CREATE TABLE IF NOT EXISTS bs_grp1_geo_hierarchy (
    GEO_CODE   VARCHAR(50),
    GEO_NAME   VARCHAR(100),
    GEO_LEVEL  VARCHAR(20),
    PARENT_ID  VARCHAR(50)
);
"""
conn.rollback()
cursor.execute(sql_create)
conn.commit()
print("Created table bs_grp1_geo_hierarchy successfully!")

# COPY data from S3 to Redshift table
sql_copy = """
COPY bs_grp1_geo_hierarchy
FROM 's3://aws-a9097-use1-00-d-s3b-shrd-shr-data01/raw/GeoHiery.txt'
DELIMITER '|'
IGNOREHEADER 1
REMOVEQUOTES
EMPTYASNULL
BLANKSASNULL
IAM_ROLE 'arn:aws:iam::014498666895:role/service-role/AmazonRedshift-CommandsAccessRole-20240806T150642';
"""
conn.rollback()
cursor.execute(sql_copy)
conn.commit()
print("Data loaded into bs_grp1_geo_hierarchy from S3!")

Created table bs_grp1_geo_hierarchy successfully!
Data loaded into bs_grp1_geo_hierarchy from S3!

In [101]:
# CREATE TABLE
sql_create3 = """
CREATE TABLE IF NOT EXISTS bs_grp1_zip_terr (
    ZIP_Code      VARCHAR(10),
    Territory_ID  VARCHAR(50)
);
"""
conn.rollback()
cursor.execute(sql_create3)
conn.commit()
print("Created table bs_grp1_zip_terr successfully!")

# COPY data from S3 to Redshift table
sql_copy3 = """
COPY bs_grp1_zip_terr
FROM 's3://aws-a9097-use1-00-d-s3b-shrd-shr-data01/raw/Zip_To_Terr.txt'
DELIMITER '|'
IGNOREHEADER 1
REMOVEQUOTES
EMPTYASNULL
BLANKSASNULL
IAM_ROLE 'arn:aws:iam::014498666895:role/service-role/AmazonRedshift-CommandsAccessRole-20240806T150642';
"""
conn.rollback()
cursor.execute(sql_copy3)
conn.commit()
print("Data loaded into bs_grp1_zip_terr from S3!")

Created table bs_grp1_zip_terr successfully!
Data loaded into bs_grp1_zip_terr from S3!

In [108]:
# CREATE TABLE: SQL statement to create bs_grp1_sales table if it doesn't exist
sql_create2 = """
CREATE TABLE IF NOT EXISTS bs_grp1_sales (
    PSBR_ID          VARCHAR(50),
    PROD_ID          VARCHAR(50),
    MONTH_1_NRX_UNIT   VARCHAR(50),
    MONTH_2_NRX_UNIT   VARCHAR(50),
    MONTH_3_NRX_UNIT   VARCHAR(50),
    MONTH_4_NRX_UNIT   VARCHAR(50),
    MONTH_5_NRX_UNIT   VARCHAR(50),
    MONTH_6_NRX_UNIT   VARCHAR(50),
    MONTH_7_NRX_UNIT   VARCHAR(50),
    MONTH_8_NRX_UNIT   VARCHAR(50),
    MONTH_9_NRX_UNIT   VARCHAR(50),
    MONTH_10_NRX_UNIT   VARCHAR(50),
    MONTH_11_NRX_UNIT   VARCHAR(50),
    MONTH_12_NRX_UNIT   VARCHAR(50),
    MONTH_1_TRX_UNIT   VARCHAR(50),
    MONTH_2_TRX_UNIT   VARCHAR(50),
    MONTH_3_TRX_UNIT   VARCHAR(50),
    MONTH_4_TRX_UNIT   VARCHAR(50),
    MONTH_5_TRX_UNIT   VARCHAR(50),
    MONTH_6_TRX_UNIT   VARCHAR(50),
    MONTH_7_TRX_UNIT   VARCHAR(50),
    MONTH_8_TRX_UNIT   VARCHAR(50),
    MONTH_9_TRX_UNIT   VARCHAR(50),
    MONTH_10_TRX_UNIT   VARCHAR(50),
    MONTH_11_TRX_UNIT   VARCHAR(50),
    MONTH_12_TRX_UNIT   VARCHAR(50)
);
"""
conn.rollback()
cursor.execute(sql_create2)
conn.commit()
print("Created table bs_grp1_sales successfully!")

# COPY: SQL statement to load data from S3 into bs_grp1_sales table
sql_copy2 = """
COPY bs_grp1_sales
FROM 's3://aws-a9097-use1-00-d-s3b-shrd-shr-data01/raw/Sales.txt'
DELIMITER '|'
IGNOREHEADER 1
REMOVEQUOTES
EMPTYASNULL
BLANKSASNULL
IAM_ROLE 'arn:aws:iam::014498666895:role/service-role/AmazonRedshift-CommandsAccessRole-20240806T150642';
"""
conn.rollback()
cursor.execute(sql_copy2)
conn.commit()
print("Data loaded into bs_grp1_sales from S3!")

Created table bs_grp1_sales successfully!
Data loaded into bs_grp1_sales from S3!

In [88]:
# CREATE THE TABLE
sql_create = """
CREATE TABLE IF NOT EXISTS bs_grp1_mkt_desc (
    MKT_CD  VARCHAR(10),
    MKT_NM  VARCHAR(200)
);
"""
conn.rollback()
cursor.execute(sql_create)
conn.commit()
print("Created table bs_grp1_mkt_desc successfully!")

# COPY THE TABLE
sql_copy = """
COPY bs_grp1_mkt_desc
FROM 's3://aws-a9097-use1-00-d-s3b-shrd-shr-data01/raw/MarketDefinition.txt'
DELIMITER '|'
IGNOREHEADER 1
REMOVEQUOTES
EMPTYASNULL
BLANKSASNULL
IAM_ROLE 'arn:aws:iam::014498666895:role/service-role/AmazonRedshift-CommandsAccessRole-20240806T150642';
"""
conn.rollback()
cursor.execute(sql_copy)
conn.commit()
print("Data loaded into bs_grp1_mkt_desc from S3!")

Created table bs_grp1_mkt_desc successfully!
Data loaded into bs_grp1_mkt_desc from S3!